{% extends ':Front:base.html.twig' %}
{% block title %}Mes Coupons{% endblock %}
{% block description %}La liste des coupons souhaités{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="content col-md-8">

            <div class="clearfix"></div>


                {% for coupon in coupons %}
                    <div class="coupon-list list-wrapper">
                        <div class="coupon-wrapper">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="post-media text-center">
                                        <a href="javascript:void(0)"><img src="{{ asset('uploads/coupons/' ~ coupon.url) }}" alt="" class="img-responsive" style="width: 209px;height: 162px"></a>
                                        {#<small><a href="javascript:void(0)">{{ coupon.marque }}</a></small>#}
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="coupon-meta">
                                        <div class="coupon-top clearfix">
                                            <div class="favorite-coupon pull-right text-right">
                                                <a href="{{ path('front_pannier_delete_coupon',{id:coupon.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Supprimer"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div><!-- end coupon-top -->
                                        <h3><a href="javascript:void(0)">{{ coupon.libelle }}</a></h3>
                                        <p>{{ coupon.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if coupons|length>0 %}
                    <div class="coupon-wrapper pull-right col-md-4 col-sm-4 col-xs-12">
                        <a target="_blank" href="{{ path('front_pannier_pdf_coupon') }}" class="show-code print-code"><span class="fa fa-print"></span> Imprimer vos coupons</a>
                    </div>
                {% endif %}
            </div>
            <div class="sidebar col-md-4 col-sm-12">
                {{ render(controller("frontGeneralBundle:Supermarche:populaire")) }}

            </div>
        </div>
    </div>
{% endblock %}

