{% extends ":Back:base.html.twig" %}
{% block title %}Coupon{% endblock %}
{% block description %}
    {% if app.request.get('id') is null %}Ajouter{% else %}Modifier{% endif %}
{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-6","Libelle ",form.libelle,true) }}
                            {{ formulaire.input("col-md-6","Promo",form.promo,true) }}


                        </div>
                        <div class="row">
                            {{ formulaire.select2("col-md-6","Porduit",form.produit,false) }}
                            {{ formulaire.input("col-md-6","Logo/Photo",form.file,false) }}
                        </div>

                        <div class="row">
                            {{ form_widget(form.description, { 'attr': {'rows' : '4', 'cols' : '30' }} ) }}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}