{% extends ":Back:base.html.twig" %}
{% block title %}Supermarché{% endblock %}
{% block description %}
    {% if app.request.get('id') is null %}Ajouter{% else %}Modifier{% endif %}
{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >{{ block('title') }}</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-6","Libelle ",form.libelle,true) }}
                            {{ formulaire.input("col-md-6","Email",form.email,true) }}


                        </div>
                        <div class="row">
                            {{ formulaire.input("col-md-6","Télephone",form.telephone,false) }}
                            {{ formulaire.input("col-md-6","Latitude",form.latitude,true) }}
                            {{ formulaire.input("col-md-6","Longitude",form.longitude,true) }}
                            {{ formulaire.input("col-md-6","Adresse",form.adresse,false) }}
                        </div>

                        <div class="row">
                            {{ formulaire.input("col-md-6","Logo/Photo",form.file,false) }}
                        </div>
                        {{ formulaire.submit("Enregistrer") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}