{% extends ":Back:base.html.twig" %}
{% block title %}Tableau de bord{% endblock %}
{% block description %}Page Tableau de bord{% endblock %}
{% block topbody %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("back-assets/plugins/flot/jquery.flot.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/flot/jquery.flot.pie.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/flot/jquery.flot.resize.min.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/jquery.sparkline/jquery.sparkline.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js") }}"></script>
    <script src="{{ asset("back-assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js") }}"></script>
    <script src="{{ asset("back-assets/js/index.js") }}"></script>
    <script>
        jQuery(document).ready(function () {
            Index.init();
        });
    </script>
{% endblock %}