{% import ":Back:macros.html.twig" as macros %}
{% import ":Back:form.html.twig" as formulaire %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{{ asset('front-assets/images/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ asset('front-assets/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('front-assets/images/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('front-assets/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('front-assets/images/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('front-assets/images/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('front-assets/images/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('front-assets/images/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('front-assets/images/apple-touch-icon-152x152.png') }}">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/bootstrap.min.css') }}">
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/style.css') }}">
    <!-- RESPONSIVE STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/responsive.css') }}">
    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/colors.css') }}">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front-assets/css/custom.css') }}">

    <!--[if lt IE 9]>
    <script src="{{ asset('front-assets/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
    <script src="{{ asset('front-assets/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Skin Examples -->
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin1.css') }}" title="skin1" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin2.css') }}" title="skin2" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin3.css') }}" title="skin3" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin4.css') }}" title="skin4" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin5.css') }}" title="skin5" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin6.css') }}" title="skin6" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('front-assets/css/skins/skin7.css') }}" title="skin7" media="all" />
    <!-- END Skin Examples -->

    <!-- Style switcher -->
    <link href="{{ asset('front-assets/switcher/switcher.css') }}" rel="stylesheet">

</head>
<body>


<div id="wrapper">
    {% include ":Front:hearder.html.twig" %}

    <div class="parallax first-section" data-stellar-background-ratio="0.5" style="background-image:url('{{ asset('front-assets/uploads/parallax_01.jpg') }}');">
        {% block contentTop %}
            <div class="container">
                <div class="section-title m30 text-center">
                    <h1>{{ block('title') }}</h1>
                    <p>{{ block('description') }}</p>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="section wb">
        {% block body %}

        {% endblock %}
    </div>

    {% include ":Front:footer.html.twig" %}
</div>


<script src="{{ asset('front-assets/js/all.js') }}"></script>
<script src="{{ asset('front-assets/js/custom.js') }}"></script>
<script src="{{ asset('front-assets/switcher/switcher.js') }}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="{{ asset('front-assets/js/map.js') }}"></script>
<script src="{{ asset('front-assets/notify.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('.addProduct').on('click',function () {
            idProduit= $(this).data('product');
            $("#back_generalbundle_userproduit_produit").val(idProduit);
        })
    })
</script>
{% for class,messages in app.session.getFlashBag.all %}
    {% for msg in messages %}
        <script>
            $(document).ready(function () {
                $.notify("{{ msg |raw }}","{{ class }}");
                /*new PNotify({
                    title: '{{ class|title }}',
                    text: '{{ msg |raw }}',
                    addclass: 'bg-{{ class }}'
                });*/
            })
        </script>
    {% endfor %}
{% endfor %}

</body>
</html>