<div class="header">
    <div class="menu-wrapper ab-menu">
        <div class="container">
            <div class="hovermenu ttmenu menu-color">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('front_general_accueil') }}"><img src="{{ asset('front-assets/images/logo.png') }}" alt=""></a>
                    </div><!-- end navbar-header -->

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a {% if app.request.get('_route')=='front_general_accueil' %}class="active"{% endif %} href="{{ path('front_general_accueil') }}" title="">Accueil</a></li>
                            <li><a {% if app.request.get('_route')=='front_supermarches' %}class="active"{% endif %} href="{{ path('front_general_accueil') }}" title="">Nos supermarchés</a></li>
                            <li><a {% if app.request.get('_route')=='front_general_contact' %}class="active"{% endif %} href="{{ path('front_general_contact') }}" title="">Contactez nous</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not is_granted('ROLE_USER') %}
                                <li><a {% if app.request.get('_route')=='fos_user_security_login' %}class="active"{% endif %} href="{{ path('fos_user_security_login') }}" title="">Connextion</a></li>
                                <li><a {% if app.request.get('_route')=='fos_user_registration_register' %}class="active"{% endif %} href="{{ path('fos_user_registration_register') }}" title="">Inscription</a></li>
                            {% else %}
                                <li class="dropdown hasmenu userpanel">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ asset('front-assets/uploads/testi_03.png') }}" alt="" class="img-circle"> <span class="fa fa-angle-down"></span></a>
                                    <ul class="dropdown-menu start-right" role="menu">
                                        <li><a href="user-dashboard.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                                        <li><a href="user-favorites.html"><i class="fa fa-star"></i> Favorite Stores</a></li>
                                        <li><a href="user-saved.html"><i class="fa fa-heart-o"></i> Saved Coupons</a></li>
                                        <li><a href="user-submit.html"><i class="fa fa-bullhorn"></i> Submit Coupon</a></li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li><a href="{{ path('back_general_homepage') }}"><i class="fa fa-dashboard"></i> Administration</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADHERENT') %}
                                            <li><a href="{{ path('Adherent_homepage') }}"><i class="fa fa-dashboard"></i> Espace adhérent</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Déconnexion</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>