{% extends ":Back:base.html.twig" %}
{% block title %}Gestion des clients{% endblock %}
{% block description %}{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Gestion des clients</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-2 col-md-offset-10 btn_ajout col-xs-12">
            <a class="btn btn-primary right " href="{{ path('back_general_client_ajouter') }}"><i class="fa fa-plus"></i>
                Ajouter client</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width dataTable"  id="sample_1">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th class="hidden-xs">Email</th>
                            <th class="hidden-xs">Téléphone</th>
                            <th class="hidden-xs">Nom</th>
                            <th class="hidden-xs">prénom</th>
                            <th class="center" >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.id }}</td>
                                <td >{{ client.username }}</td>
                                <td class="hidden-xs">{{ client.email }}</td>
                                <td class="hidden-xs">{{ client.telephone }}</td>
                                <td class="hidden-xs">{{ client.nom }}</td>
                                <td class="hidden-xs">{{ client.prenom}}</td>
                                <td class="TableAction center">
                                    <div class="visible-md visible-lg hidden-sm visible-xs">
                                        {{ macros.tableEdit(path('back_general_client_modifier',{'id':client.id})) }}
                                        {{ macros.tableDelete(path('back_general_client_delete',{'id':client.id})) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}