{% extends ':Front:base.html.twig' %}
{% block title %}{{ supermarche|title }}{% endblock %}
{% block description %}{{ supermarche.adresse }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="content col-md-8">
                <div class="post-wrapper">
                    {% for rayon in rayons %}
                        {% if rayon.categories|length>0 %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="list-title">{{ rayon }}</h4>
                                    <ul class="check-list">
                                        {% for categorie in rayon.categories %}
                                            <li>
                                                <a href="{{ path('front_super_marches_produits',{idSupermarche:supermarche.id,idCategorie:categorie.id}) }}">
                                                    <i class="fa fa-folder-open-o"></i>
                                                    {{ categorie }}
                                                    <small>({{ render(controller(
                                                        'frontGeneralBundle:Supermarche:countProduits',
                                                        {idSupermarche:supermarche.id,idCategorie:categorie.id}
                                                        )) }} Produits)</small>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <hr class="invis2">
                        {% endif %}
                    {% endfor %}

                </div><!-- end post-wrapper -->
            </div><!-- end content -->

            <div class="sidebar col-md-4 col-sm-12">
                <div class="widget clearfix">
                    <div class="text-center store-list row">
                        <div class="col-md-12">
                            <div class="post-media">
                                <a href="javascript:void(0)"><img src="{{ asset('uploads/supermarches/' ~ supermarche.url) }}" alt="" class="img-responsive"></a>
                                <small>{{ supermarche|title }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{ render(controller("frontGeneralBundle:Supermarche:populaire")) }}
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h4><span>Email Newsletter</span></h4>
                    </div>

                    <div class="newsletter">
                        <p>Your email is safe with us and we hate spam as much as you do. Lorem ipsum dolor sit amet et dolore.</p>
                        <form class="">
                            <input type="text" class="form-control" placeholder="Enter your name..">
                            <input type="email" class="form-control" placeholder="Enter your email..">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

