{% extends ':Front:base.html.twig' %}
{% block title %}{{ supermarche|title }}{% endblock %}
{% block description %}{{ category }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="content col-md-8">
                {% for produit in produits %}
                    <div class="coupon-list list-wrapper">
                        <div class="coupon-wrapper">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="post-media text-center">
                                        <a href="javascript:void(0)"><img
                                                    src="{{ asset('uploads/produits/' ~ produit.url) }}" alt=""
                                                    class="img-responsive" style="width: 209px;height: 162px"></a>

                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="coupon-meta">
                                        <div class="coupon-top clearfix">
                                            <div class="favorite-coupon pull-right text-right">
                                                <a href="javascript:void(0)" data-product="{{ produit.id }}" data-id="xxx" class="showCoupons addProduct"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Ajouter dans la list"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <h3><a href="javascript:void(0)">{{ produit.libelle }}</a></h3>
                                        <small><a href="javascript:void(0)">{{ produit.marque }}</a></small>
                                        <h5>{{ produit.prix }} DT</h5>
                                        <p>{{ produit.description }}</p>
                                    </div>
                                    <div class="showcode">
                                        {% for coupon in produit.coupons %}
                                            <a href="javascript:void(0)" data-id="{{ coupon.id }}" class="showCoupons">
                                                <img src="{{ asset('front-assets/images/apple-touch-icon.png') }}"
                                                     style="width: 50px;">
                                                voir Coupons
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for produit in produits %}
                    {% for coupon in produit.coupons %}
                        <div id="coupons-{{ coupon.id }}" class="modal fade code-modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4><a href="javascript:void(0)">{{ coupon.libelle }}</a></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="javascript:void(0)"><img
                                                            src="{{ asset('uploads/coupons/' ~ coupon.url) }}" alt=""
                                                            class="img-responsive" style="max-height: 200px;"></a>
                                                <div class="modal-button">
                                                    <a href="{{ path('front_pannier_add_coupon',{idCoupon:coupon.id,idSupermarche:supermarche.id}) }}"
                                                       title="" class="btn btn-default btn-block show-code">Ajouter
                                                        Coupons<i class="fa fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h1>{{ coupon.libelle }}</h1>
                                                <p>{{ coupon.description }}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="coupon-area">
                                            <div class=" row">
                                                {% if coupon.code %}
                                                    <div class="col-md-8 text-center col-md-offset-2">
                                                        <button data-clipboard-text="{{ coupon.code }}"
                                                                class="coupon-code btn btn-primary btn-block"
                                                                type="submit"
                                                                title="Click to Copy">{{ coupon.code }}</button>

                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if false %}
                    <nav class="nav-pagi">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <div class="sidebar col-md-4 col-sm-12">
                <div class="widget clearfix">
                    <div class="text-center store-list row">
                        <div class="col-md-12">
                            <div class="post-media">
                                <a href="javascript:void(0)"><img
                                            src="{{ asset('uploads/supermarches/' ~ supermarche.url) }}" alt=""
                                            class="img-responsive"></a>
                                <small>{{ supermarche|title }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{ render(controller("frontGeneralBundle:Supermarche:populaire")) }}

            </div>
        </div>
    </div>
    <div id="coupons-xxx" class="modal fade code-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4><a href="javascript:void(0)">Ajouter ce produit dans la liste</a></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ formulaire.input("col-md-4 hidden","",form.produit,true) }}
                            {{ formulaire.input("col-md-6","Quantité",form.quantity,true) }}
                        </div>
                        {{ formulaire.submit("Ajouter") }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



